{# templates/includes/pagination.html.twig #}
{% if pageCount > 1 %}
	<nav class="flex items-center justify-between border-t border-gray-200 px-4 py-3 sm:px-6 mt-4">
		<div class="flex flex-1 justify-between sm:hidden">
			{% if previous is defined %}
				<a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
					Précédent
				</a>
			{% else %}
				<div></div>
			{% endif %}

			{% if next is defined %}
				<a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">
					Suivant
				</a>
			{% endif %}
		</div>
	</nav>
{% endif %}
