@import "tailwindcss";

@source "../../templates/**/*.html.twig";
@source "../../assets/**/*.js";
@source "../../node_modules/preline/dist/*.js";

/* Désactive l'icône de nettoyage par défaut des navigateurs */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

/* Preline UI */
@import "preline/variants.css";
@import "preline/src/plugins/datepicker/styles.css";