@import "tailwindcss";
@source not "../../public";

/* Désactive l'icône de nettoyage par défaut des navigateurs (le X bleu) */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    -webkit-appearance: none;
    display: none;
}

/* Preline UI */
@import "./node_modules/preline/variants.css";
@import "./node_modules/preline/src/plugins/datepicker/styles.css";