<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Pépi+ - Gestion de stock
			{% endblock %}
		</title>
	{# CSS compilé via Webpack Encore #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{# Google Fonts #}
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
</head>
{# templates/base.html.twig #}
<body
	class="antialiased flex min-h-screen bg-menthe-clair">
	{# Ajout de flex et du fond ici #}
	{% if app.user %}
		{% include 'includes/sidebar.html.twig' %}
	{% endif %}

	{# Ce conteneur "main" va maintenant gérer la marge à gauche #}
	<main class="flex-1 {% if app.user %}lg:ml-72{% endif %} min-h-screen"> 
		{% block body %}{% endblock %}
	</main>

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
	</body>
</html>
