<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Pépi+ - Gestion de stock{% endblock %}
    </title>

    {# CSS compilé via Webpack Encore #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {# Tailwind CDN (si besoin) #}
    <script src="https://cdn.tailwindcss.com"></script>

    {# Google Fonts #}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet"> 
</head>
<body class="antialiased">
    {% block body %}{% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
