{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur
{% endblock %}

{% block body %}
	<div class="min-h-screen bg-gray-100">
		{# Header #}
		<div class="bg-white shadow-sm border-b border-gray-200">
			<div class="sm:px-8 lg:px-8 py-6">
				<div class="flex items-center space-x-3">
					<a href="{{ path('app_user_index') }}" class="text-gray-400 hover:text-gray-600">
						<twig:ux:icon name="iconoir:arrow-left" class="w-6 h-6 inline mr-2"/>
					</a>
					<div>
						<h1 class="text-2xl font-bold text-gray-900">
							Créer un nouvel utilisateur
						</h1>
						<p class="mt-1 text-sm text-gray-500">
							Ajoutez un nouvel utilisateur et définissez ses accès au système.
						</p>
					</div>
				</div>
			</div>
		</div>

		{# Content #}
		<div class="sm:px-8 lg:px-8 py-8">
			{{ include('user/_form.html.twig', {
            button_label: 'Mettre à jour',
        }) }}

		</div>
	</div>
{% endblock %}
